:root {
  --blue: #0071e3;
}
.bggrey {
  background: #f2f2f2;
}
.bggreylight {
  background: #fbfbfb;
}
#bars,
#menu {
  display: none;
}
#bars:checked ~ #sidebar {
  left: 0%;
}
.container {
  padding: 0 3%;
}
.headernav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
}
#navicons {
  display: flex;
}
#navicons > * {
  padding: 0 8px;
}
#sidebar {
  width: 100%;
  height: 100vh;
  background: #fff;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 0.3s;
}
#close {
  display: flex;
  justify-content: flex-end;
  margin: 10px 20px;
}
#sidebarmenu {
  padding: 20px 40px;
  font: 1.2em/2 Arial;
}
#headerslider {
  background: #fff;
}
.headerslider {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  overflow-x: scroll;
}
.headerslider::-webkit-scrollbar {
  display: none;
}
.headerslider div {
  text-align: center;
  padding: 10px;
}
.headerslider p {
  font-size: 0.7em;
  margin: 0;
}
.new {
  font-size: 0.8em;
  color: #bf4800;
}
.headerslider .new {
  font-size: 0.6rem;
}
#headerbtm {
  padding: 20px 0 0 0;
  p {
    font-size: 1.3em;
  }
}
.links {
  display: inline-block;
  color: var(--blue);
  font-size: 1em;
  padding: 15px 0;
}
.links::after {
  display: block;
  content: "";
  width: 0px;
  height: 3px;
  margin: 5px 0;
  background: transparent;
}
.links:hover::after {
  animation: border 1s linear forwards;
}
@keyframes border {
  0% {
    background: transparent;
    width: 0;
  }
  100% {
    background: linear-gradient(90deg, yellow, orange, green, blue);
    width: 100%;
  }
}
.guidtop .watch {
  display: inline-block;
  background: #ffffffcc;
  color: var(--blue);
  margin: 10px 0;
  padding: 8px 20px;
  border-radius: 15px;
  font-size: 0.8em;
}
.fa-arrow-up-right-from-square {
  margin: 0 10px 0 0;
}
.guidtop .links::after {
  display: none;
}
@keyframes pale {
  from {
    background: #ffffffcc;
  }
  to {
    background: linear-gradient(90deg, yellow, orange, green, blue);
  }
}
.txtcenter {
  text-align: center;
}
section {
  padding: 40px 0;
}
#titanium {
  background: #000;
  color: #fff;
}
.titanium {
  height: 40px;
  padding: 15px 0;
  background: url("../img/titanium.jpeg") center / contain no-repeat;
}
.price {
  margin: 15px auto;
  font-size: 0.9em;
}
h1 {
  font-size: 2em;
  margin: 20px 0;
}
#love h1 {
  color: #1e3791;
}
h2 {
  font: 500 1.8em/0.8 Arial;
  margin: 20px 0;
}
#accessories h2 {
  font-weight: 600;
  margin: 20px 0 30px 0;
}
#whatmakes h2 {
  font-weight: 400;
}
.fit_arc h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
h3 {
  font: 700 1.6em/1.3 Arial;
}
h4 {
  font: 600 1.4em/2 Arial;
}
h5 {
  font: 600 1.3em Arial;
  padding: 15px 0;
}
h6 {
  font: 400 1.1em Arial;
  margin: 10px;
}
.titantop h6 {
  color: #8b887eff;
}
.btn {
  display: inline-block;
  color: #fff;
  font-size: 0.8em;
  padding: 10px 25px;
  border: 2px solid transparent;
  border-radius: 30px;
  margin: 10px 0;
  transition: all 0.3s;
  background: var(--blue);
}
.btn:hover {
  box-shadow: 3px 5px 7px #010e42;
}
#titanium .btn:hover {
  box-shadow: 3px 5px 7px rgb(172, 185, 236);
}
.titanbtm {
  height: 50vh;
  background: url("../img/titanium-mobile.jpeg") center / contain no-repeat;
}
.newpbtm {
  height: 20vh;
  padding: 10px;
  background: url("../img/newphoria.jpeg") center / contain no-repeat;
}
#love p {
  font-size: 1.2em;
}
.lovebtm {
  height: 50vh;
  background: url("../img/lovebg.jpeg") center / contain no-repeat;
}
.guidbtm {
  height: 50vh;
  background: url("../img/applebg12.jpeg") center / cover no-repeat;
}
.phones {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0;
}
.phones hr {
  width: 60%;
  margin: auto;
}
.phonesimg {
  height: 300px;
  padding: 0 10px;
}
.phoneimg {
  height: 85%;
  width: 100%;
  object-fit: contain;
  padding: 20px 0 10px 0;
}
.phonename p:nth-of-type(2) {
  margin: 10px 0;
}
.from {
  margin: 20px 0 0 0;
  font-size: 0.8em;
}
.features div {
  padding: 20px 0;
}
.features img {
  height: 40px;
  width: 40px;
  object-fit: contain;
}
.features p {
  width: 145px;
  margin: auto;
  font: 0.7em/ 2 Arial;
}
.card {
  background: #fff;
  padding: 10px;
  margin: 15px;
  p {
    color: #6e6e73;
  }
}
.cardimg1 {
  height: 30vh;
  background: url("../img/savei_phone.jpg") center/contain no-repeat;
}
.cardimg2 {
  height: 20vh;
  background: url("../img/appleemoji.jpeg") center/contain no-repeat;
}
.cardimg3 {
  height: 30vh;
  background: url("../img/aplepphone.jpeg") center/contain no-repeat;
}
#whyapple {
  background: #fff;
  margin: 20px 10px;
  padding: 30px 15px;
}
.whybtm {
  height: 25vh;
  background: url("../img/applebg6.jpeg") left/cover no-repeat;
}
.magair,
.magic {
  background: #fff;
  margin: 20px 10px;
  padding: 10px;
}
.magairbtm {
  height: 30vh;
  margin: 30px 0;
}
.magbtm {
  background: url("../img/applephones.jpeg") center/contain no-repeat;
}
.airbtm {
  background: url("../img/airtag__b81h4czx41yq_medium.jpg") center/contain
    no-repeat;
}
.magtop p {
  max-width: 300px;
  margin: 15px auto;
  font: 1.1em/1.5 Arial;
}
.airtop p {
  font-size: 1.1em;
  margin: 10px;
}
.serv {
  padding: 30px 10px;
}
.secbtm {
  height: 20vh;
  margin: 10px 0;
  background: #fff url("../img/applebg9.jpeg") top / contain no-repeat;
}
.iosbtm {
  background: url("../img/ios17.jpg") center / cover no-repeat;
}
.switchbtm {
  background: url("../img/applebg.jpeg") center / cover no-repeat;
}
.privacybtm {
  background: url("../img/privacy.jpg") bottom / cover no-repeat;
}
.sw_pr {
  display: flex;
  flex-direction: column;
}
.sw_pr .secbtm {
  height: 40vh;
}
.one {
  height: 40px;
  background: url("../img/apple_one.jpg") center / contain no-repeat;
}
.getbtm {
  background: url("../img/applebg2.jpeg") center / contain no-repeat;
}
#getmore p {
  font-size: 1.4em;
  margin: 20px 0;
}
.bgblack {
  background: #090a0e;
  color: #fff;
}
.tvbtm {
  background: url("../img/tv+_bg.png") center / cover no-repeat;
}
.musicbtm {
  background: url("../img/music_bg.jpg") center 45px / cover no-repeat;
}
.fitnessbtm {
  background: url("../img/fitness_bg.jpg") center / cover no-repeat;
}
.arcadebtm {
  background: url("../img/arcade_bg.png") center / contain no-repeat;
}
.newsbtm {
  background: url("../img/news_bg.jpeg") center -100px / cover no-repeat;
}
.giftbtm {
  background: url("../img/gift_bg.jpg") bottom / cover no-repeat;
}
.appbtm {
  background: url("../img/research_app.jpg") center / contain no-repeat;
}
.fit_arc .fa-apple {
  font-size: 0.7em;
}
#app {
  padding: 0 0 30px 0;
  .magair {
    margin: 0 10px;
  }
}
#about {
  padding: 20px 0;
  font-size: 0.9em;
  color: #0000007a;
  text-align: justify;
}
ol {
  padding: 0 0 30px 30px;
  li {
    padding: 0;
    list-style: decimal;
  }
}
footer {
  font-size: 0.8em;
  color: #000000bd;
}
footer p {
  margin: 20px 0;
}
.ftop {
  margin: 10px 0 20px 16px;
}
.ftop a {
  display: flex;
  align-items: center;
  gap: 40px;
}
.ftop .fa-apple {
  font-size: 1.5rem;
  color: #000;
}
.footermenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footermenu div {
  border-bottom: 1px solid #dee2e6;
}
.footermenu div:nth-last-of-type(1) {
  border-bottom: none;
}
.footermenu .fa-chevron-up {
  display: none;
}
label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
}
input {
  display: none;
}
.footernav {
  max-height: 0;
  overflow: hidden;
  line-height: 1.5em;
  transition: 0.3s;
  margin: 0 0 0 20px;
}
.footernav label {
  padding: 16px 20px;
}
.footernav li:nth-last-child(1) {
  padding: 0 0 16px 0;
}
.open:checked ~ .footernav {
  max-height: 250px;
}
.moreway {
  color: var(--blue);
  text-decoration: underline;
}
  @media only screen and (min-width: 369px) {
  .phonecard{
    width: 50%;
  }
  }
@media only screen and (min-width: 576px) {
  .services{display: flex;
  flex-wrap: wrap;}
  .serv{
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
    margin: auto;
  }
  #menu {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font: 600 0.66em Arial;
    padding: 0 10px;
  }
  #menu a {
    position: relative;
    padding: 5px 0;
  }
  #menu a::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 2px;
    left: 50%;
    bottom: 0;
    background-color: #624d4d;
    transition: all ease-in-out 0.2s;
  }
  #menu a:hover::before {
    width: 100%;
    left: 0;
  }
  #menuicon {
    display: none;
  }
  .titanbtm {
    height: 50vh;
    width: 60%;
    margin: auto;
    background: url("../img/titanium-pc.png") center / contain no-repeat;
  }
  .newpbtm {
    height: 55vh;
    background-size: cover;
  }
  .lovebtm {
    height: 100vh;
  }
  #guidtour {
    height: 100vh;
    background: url("../img/applebg12.jpeg") center / cover no-repeat;
    border-radius: 30px;
    margin: 20px;
  }
  .guidtour .fa-circle-play {
    display: none;
  }
  .guidtour {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }
  .guidtop {
    color: #fff;
  }
  .guidtop .watch {
    color: #000;
  }
  .guidbtm {
    display: none;
  }
  .phonecard{
    width: 25%;
    padding: 0 10px;
  }
  .phones hr {
    width: 100%;
  }
  .w20 {
    width: 20%;
  }
  .card{
    width: 50%;
  }
  .card1{
    width: 100%;
  }
  .cards{
    display: flex;
  }
  .w50 {
    width: 50%;
  }
  .features .zoom {
    font: 600 1.4em Arial;
  }
  .allcard {
    display: flex;
    justify-content: space-between;
  }
  #whyapple {
    height: 80vh;
    background: url("../img/applebg6.jpeg") center/cover no-repeat;
  }
  .whybtm {
    display: none;
  }
  #whyapple div {
    max-width: 500px;
    margin: auto;
  }
  .magair {
    display: flex;
    align-items: center;
  }
  .newptop p {
    width: 60%;
  }
  .magairbtm {
    height: 60vh;
  }
  .airbtm {
    background: url("../img/appleanahtarlik.jpeg") center / contain no-repeat;
  }
  .getbtm,
  .airbtm {
    order: -1;
  }
  .secbtm {
    height: 50vh;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.8em;
  }
  #accessories h1 {
    width: 300px;
    text-align: center;
    margin: 30px auto;
  }
  .sw_pr {
    flex-direction: row;
  }
  .one {
    height: 50px;
  }
  .footermenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div {
      border-bottom: none;
    }
    .fa-chevron-down {
      display: none;
    }
  }
  .footernav {
    max-height: 250px;
  }
  label a {
    font-size: 1.2em;
  }
  .fbtm{
    display: flex;
    justify-content: space-between;
    text-align: center;
    p{
      padding: 0 5px;
    }
  }
}
@media only screen and (min-width: 992px) {
  .love {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lovetop, .lovebtm{
    width: 50%;
  }
  .card1, .serv{
    width: 33.33%;
  }
   .cards{
    width: 66.66%;
  }
}
